@{
    ViewData["Title"] = "Regulator";
}

<h1>Regulators Come Here To Learn the Truth About Birds</h1>
<h2>The birds aren't real and they work for the bourgeoisie....</h2>
<p>That's why you can't ship them in boxes though regular mail. They have dangerous lithium ion batteries inside them. Also side note... you know those big solar farms where they aim thousands of mirors at a single tank of water to generate steam? Well it turns out that if a bird flies over a solar farm it will burst into flame and disintegrate. Food for thought.</p>