@page "/admin"

@model CrashCourse.Pages.Admin.IndexModel

<!DOCTYPE html>

<html>
<head>
    <title>Crash Course Admin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="~/" />
</head>
<body>
    <component type="typeof(CrashCourse.Pages.Admin.Routed)" render-mode="Server"/>
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>

